<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body class="bgcolor">

    <%- include('partials/header') %>

    <main>

        <%- include('sections/hero') %>

        <%- include('sections/features') %>

        <%- include('sections/faq') %>

        <%- include('sections/portfolio') %>

        <%- include('sections/pricing') %>

        <%- include('sections/services') %>

        <%- include('sections/testimonial') %>

        <%- include('sections/blog') %>

    </main>

    <%- include('partials/footer') %>

</body>

</html>