<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
     <header>
        <div class="flex justify-between">

            <div>
                <a href="/" class="home-btn btn">
                    Home
                </a>
            </div>

            <div>
                <a href="/students/add" class="home-btn btn">
                    Add student
                </a>
            </div>

        </div>
    </header>

    <main>
        <section class="student-list-section px-10 py-10">
            <div class="students-grid">
                <% if (students.length > 0) { %>
                    <% students.forEach(student => { %>
                    <div class="student-card">
    
                        <div class="card-top">
                            <div class="avatar">
                                <%= student.name.charAt(0).toUpperCase() %>
                            </div>
    
                            <div class="user-details">
                                <h3>
                                    <%= student.name %>
                                </h3>
                                <span>Student Profile</span>
                            </div>
                        </div>
    
                        <div class="card-body">
                            <div class="info">
                                <span>Email</span>
                                <p>
                                    <%= student.email %>
                                </p>
                            </div>
                            <div class="info">
                                <span>Course</span>
                                <p>
                                    <%= student.course %>
                                </p>
                            </div>
                            <div class="info">
                                <span>Phone</span>
                                <p>
                                    <%= student.phone %>
                                </p>
                            </div>
                        </div>
    
                        <div class="actions">
                            <a href="/students/edit/<%= student.id %>">
                                Edit
                            </a>
                            <a href="/students/delete/<%= student.id %>"
                                onClick="return confirmDelete()"
                            >
                                Delete
                            </a>
                            <a href="/students/view/<%= student.id %>">
                                View
                            </a>
                        </div>
                    </div>
                    <% }) %>
                <% } else { %>
                    <div class="no-data">
                        <h2>No data found</h2>
                        <p>Add first student to get started</p>
                    </div>
                <% }%>
            </div>
        </section>
    </main>

    <script>
        function confirmDelete() {
            return confirm(
                "Are you sure you want to delete this student"
            )
        }
    </script>
</body>
</html>